In [1]:
import pandas as pd
import numpy as np

In [2]:
preprocessed_data = pd.read_csv("C:/Users/Segun Ilesanmi/Documents/preprocessed data.csv")

In [3]:
preprocessed_data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Months values,Day of the week
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,0,2,1,2,7,3

# Create the target

In [4]:
preprocessed_data["Absenteeism Time in Hours"].median()

3.0

In [5]:
targets = np.where(preprocessed_data["Absenteeism Time in Hours"]>3,1,0)

In [6]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [7]:
targets = np.where(preprocessed_data["Absenteeism Time in Hours"]> preprocessed_data["Absenteeism Time in Hours"].median(),1,0)

In [8]:
targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [9]:
preprocessed_data["Excessive Absenteeism"] = targets

In [10]:
preprocessed_data

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Months values,Day of the week,Excessive Absenteeism
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,0,2,1,4,7,1,1
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,0,1,0,0,7,1,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,0,0,0,2,7,2,0
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,0,2,0,4,7,3,1
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,0,2,1,2,7,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,1,2,0,8,5,2,1
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,0,1,2,3,5,2,0
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,1,0,0,8,5,3,1
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,1,0,0,2,5,3,0
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,0,1,1,2,5,3,0

# A comment on the target

In [11]:
targets.sum() /targets.shape[0]

0.45571428571428574

In [12]:
data_with_targets = preprocessed_data.drop(["Absenteeism Time in Hours"], axis =1)

In [13]:
data_with_targets is preprocessed_data

False

In [14]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Months values,Day of the week,Excessive Absenteeism
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,0,2,1,7,1,1
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,0,1,0,7,1,0
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,0,0,0,7,2,0
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,0,2,0,7,3,1
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,0,2,1,7,3,0

# select the input for the regression

In [15]:
data_with_targets.shape

(700, 16)

In [16]:
data_with_targets.iloc[:,0:14]

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Months values
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,0,2,1,7
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,0,1,0,7
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,0,0,0,7
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,0,2,0,7
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,0,2,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,1,2,0,5
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,0,1,2,5
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,1,0,0,5
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,1,0,0,5
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,0,1,1,5

In [17]:
data_with_targets.iloc[:,:-1]

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Months values,Day of the week
0,0,0,0,1,07/07/2015,289,36,33,239.554,30,0,2,1,7,1
1,0,0,0,0,14/07/2015,118,13,50,239.554,31,0,1,0,7,1
2,0,0,0,1,15/07/2015,179,51,38,239.554,31,0,0,0,7,2
3,1,0,0,0,16/07/2015,279,5,39,239.554,24,0,2,0,7,3
4,0,0,0,1,23/07/2015,289,36,33,239.554,30,0,2,1,7,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,23/05/2018,179,22,40,237.656,22,1,2,0,5,2
696,1,0,0,0,23/05/2018,225,26,28,237.656,24,0,1,2,5,2
697,1,0,0,0,24/05/2018,330,16,28,237.656,25,1,0,0,5,3
698,0,0,0,1,24/05/2018,235,16,32,237.656,25,1,0,0,5,3
699,0,0,0,1,31/05/2018,291,31,40,237.656,25,0,1,1,5,3

In [43]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

# Stndardize the data

In [44]:
from sklearn.preprocessing import StandardScaler

In [49]:
absenteeism_scaler = StandardScaler().fit(unscaled_inputs)

ValueError: could not convert string to float: '07/07/2015'

In [46]:
absenteeism_scaler

StandardScaler()

In [47]:
absenteeism_scaler.fit(unscaled_inputs)

ValueError: could not convert string to float: '07/07/2015'

In [48]:
scaled_inputs = absenteeism_scalar.transform(unscaled_inputs)

NameError: name 'absenteeism_scalar' is not defined

# split the data into train& test and shuffle

In [114]:
from sklearn.model_selection import train_test_split

# Split

In [115]:
train_test_split(scaled_inputs)

NameError: name 'scaled_inputs' is not defined

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs,targets, train_size = 0.8)

In [ ]:
print(x_train.shape, y_train.shape)

In [ ]:
print(x_test.shape, y_test.shape)

# Logistic Regression with Sklearn

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
reg = LogisticRegression()

In [ ]:
reg.fit(x_train,y_train)

In [ ]:
# assess the train accuracy of the model
reg.score(x_train,y_train)

#  Manually check the accuracy of the model

In [ ]:
model_outputs = reg.predict(x_train)
model_outputs

In [1]:
# compare them with the targets
y_train

NameError: name 'y_train' is not defined

In [ ]:
# ACTUALLY compare the two variables
model_outputs == y_train

In [ ]:
# find out in how many instances we predicted correctly
np.sum((model_outputs==y_train))

In [ ]:
model_outputs.shape[0]

In [ ]:
# calculate the accuracy of the model
# divide the number of correctly predicted outputs by the number of all outputs
np.sum((model_outputs==y_train)) / model_outputs.shape[0]

# finding the intercept and the coefficient

In [ ]:
reg.intercept_

In [ ]:
reg.coef_

In [ ]:
unscaled_inputs.columns.values

In [ ]:
# save the names of the columns in an ad-hoc variable
feature_name = unscaled_inputs.columns.values

In [ ]:
# transpose the model coefficients (model.coef_) and throws them into a df (a vertical organization, so that they can be
# multiplied by certain matrices later) 
summary_table = pd.DataFrame (columns=['Feature name'], data = feature_name)

# add the coefficient values to the summary table
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

In [ ]:
# do a little Python trick to move the intercept to the top of the summary table
# move all indices by 1
summary_table.index = summary_table.index + 1

# add the intercept at index 0
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]

# sort the df by index
summary_table = summary_table.sort_index()
summary_table

# interpreting the coefficients

In [ ]:
# create a new Series called: 'Odds ratio' which will show the.. odds ratio of each feature
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [ ]:
summary_table

In [ ]:
# note that by default, the sort_values method sorts values by 'ascending'
summary_table.sort_values('Odds_ratio', ascending=False)